.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column:first-child {
  width: 33%;
}
.alt-header__column:nth-child(2) {
  width: 33%;
  text-align: center;
}
.alt-header__column:last-child {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.settings__setting {
  opacity: 0.8;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}

.alt-header__column .barsmargin {
  margin-left: 20px;
}
